{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:dev {:extra-deps {org.clojure/clojure        {:mvn/version "1.11.1"}
                              techascent/tech.ml.dataset {:mvn/version "7.014"}
                              scicloj/tablecloth         {:mvn/version "7.014"
                                                          :exclusions  [techascent/tech.ml.dataset
                                                                        org.apache.poi/poi-ooxml-schemas
                                                                        org.apache.poi/poi
                                                                        org.apache.poi/poi-ooxml]}}}}}
